/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history
.DS_Store
.idea/

# Ignore master key for decrypting credentials and more.
config/secrets.yml.key
config/master.key

# Ignore RSpec local output
spec/examples.txt

# Ignore uploaded files in development
/storage/*
